<% include ../partials/header %> 

<div class="container">
     <header class="jumbotron">
      <div class="container">
        <h1>תמונות וציורים של חיים</h1>
        <p class="lead"></p>
        <p>
          <a class="btn btn-primary btn-large" href="/images/new">לשיתוף תמונה או ציור</a>
        </p>
      </div>
    </header>
   

    <div class="row justify-content-right">
        <!-- <div class="card-deck"> -->
    <% images.forEach(function(image){ %>
          <div class="col-auto mb-3">
       
 
      <div class="card mt-3">
         <small class="card-header">הועלה ע״י: <%= image.author%></small>
           <div class="card-body">
           <img class ="img" src="<%= image.image %>" >
      </p>
         
           <a href="/images/<%= image._id %>" class="btn btn-primary">לצפייה</a>
      
     
          </div>
        </div>
     <!-- </div> -->
</div>
    <% }); %>

</div>

</div>
<% include ../partials/footer %>
