<% include ../partials/header %>
<div class="container mt-4">
    
  
            <div class="form-row">
    <div class="col-md-2"></div>
    
    <div class="col-md-6">
     <div class="back-caret mb-2">
               <i class="fas fa-caret-right float-left ml-2 mr-1 mt-1"></i>

              <a href="/images"> חזרה לתמונות וציורים</a>
               </div>
       <h1>שתפו אותנו בתמונות של חיים</h1>
            <form action="/images" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="author">השם שלך</label>
                    <input class="form-control" type="text" name="author" required>
                </div>
               
              
             <% /*
                <div class="form-group">
             
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="image" name="image" accept="image/*">
                  <label class="custom-file-label" for="image">בחירת קובץ</label>
                </div>
              </div>
              */ %>
            
             <div class="form-group">
               <label for="image">בחירת תמונה</label>
               <input class="form-control" type='file' name='image' accept="image/*" required>
             </div>

                <div class="form-group">
                    <input class="form-control"  type="text" name="content" placeholder="(לא חובה)כיתוב לתמונה">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">שלח</button>
                </div>
            </form>
 
        </div>
    <div class="col-md-2"></div>

    </div>
  </div>
 </div>

<% include ../partials/footer %>