<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>לזכרו של חיים טוקצ׳ינסקי</title>
       <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.0.0/css/bootstrap.min.css" integrity="sha384-P4uhUIGk/q1gaD/NdgkBIl3a6QywJjlsFJFk7SPRdruoGddvRVSwv5qFnvZ73cpz" crossorigin="anonymous">
        <link rel='stylesheet' type='text/css' href='/stylesheets/main.css' />
  <link href="https://fonts.googleapis.com/css?family=Heebo:400,700&amp;subset=hebrew" rel="stylesheet">

    </head>
    <body>
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active ml-2">
        <a class="nav-link" href="#">ראשי <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/about">על חיים</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" href="/stories">מלים לזכרו</a>
      </li>

       <li class="nav-item ml-2">
        <a class="nav-link" href="/music">סרטונים והקלטות</a>
      </li>

      <li class="nav-item ml-2">
        <a class="nav-link" href="/images">תמונות וציורים</a>
      </li>
       <li class="nav-item ml-2">
        <a class="nav-link" href="/events">אירועים</a>
      </li>   
       <li class="nav-item ml-2">
        <a class="nav-link" href="#">מעזבונותיו</a>
      </li>   

    </ul>
  </div>
</nav>

   