<% include ./partials/header %> 
<div class="container">
	<div class="mt-4">
<p>חיים טוקצ'ינסקי (באנגלית: Haim Tukachinsky) (י"ח חשוון התשמ"ח, 10 בנובמבר 1987 - ט"ו בתשרי תשע"ט, 24 בספטמבר 2018) היה פסנתרן, מלחין, מנצח ומנהל מוזיקאי ממוצא חרדי אשכנזי.
	
</p>

<p>
	חיים נולד בחיפה. את ילדותו העביר בקרית מוצקין. חיים זכה לחינוך חרדי: למד במוסדות של חב"ד בתלמוד תורה, לאחר מכן - בישיבה קטנה בקריות.

במקביל למד בקונסרבטוריון קריית מוצקין.

לאחר ישיבה קטנה עשה בחינות בגרות (אקסטרני) והתקבל לאקדמיה למוזיקה בירושלים.
</p>

<p>
	בוגר אקדמיה למוזיקה ולמחול בירושלים עם התמחות בפסנתר, הלחנה וניצוח.

מוריו היו המלחין ד"ר מיכאל וולפה בקומפוזיציה ופרופ' יצחק כ"ץ ופרופ' ואדים מונוסטירסקי בפסנתר.
	
</p>


<p>
	מגיל 16 החל חיים לעבוד כנגן עצמאי, הוא היה ידוע בכך שלצד קריירה כפסנתרן סולו, ליווה זמרים וחזנים, לימד נגינה בקונסרבטוריון, שימש כמנצח, ליווה כיתות אמן שונות והפיק וניהל את הצד המוסיקלי של מגוון הפקות ומחזות זמר שונים.

זכה פרס קרן התרבות אמריקה-ישראל (AICM) לשנים 2007-2009.

זכה למלגת קרן וולף.

בקיץ 2008 השתתף בפסטיבל הפסנתר באוקספורד.

בשנת 2010 זכה במקום שני בתחרות הפסנתר ה-11 על שם קרלו טוואסאני, כמו גם בתחרות למוזיקה קאמרית על שם רוז חורון.

הלחין יצירות רבות לזמרים, לכלי נגינה שונים ולצוותים מוזיקליים שונים.

חלק מיצירותיו בוצעו בידי אנסמבלים ישראלים מרכזיים כמו הסימפונייטה הישראלית באר שבע.

ניגן ברחבי כל הארץ.

ערך סבב הופעות כסולן באנגליה ובנורווגיה.

ניגן ביצירות רבות לצדם של אמנים יידועי שם מרחבי העולם.

הופיע כסולן ומלווה ומנגן מוזיקה קאמרית בקונצרטים ברחבי הארץ.

כנגן פסנתר הוא ליווה והפיק מגוון הפקות בימתיות מקומיות, בין היתר עם Association of Americans and Canadians in Israel (AACI) ועם הילל באוניברסיטה העברית
	
</p>



<p>
	מאז סיום לימודיו התגורר בירושלים ובה חיי ופעל. חיים סיים את חיו בתאונת פגע וברח שהתרחשה בערב חג הסוכות 2018 .

הוא הובא למנוחות יום לאחר צאת החג בבית הקברות בהר הזיתים.

הלווייתו בלטה בכמות האנשים הרבים מכלל הקבוצות בחברה הישראלית שבאו לנכוח ולחלוק לו כבוד אחרון כפסנתרן וכאדם.

סרטי וידאו נבחרים
	
</p>

</div>

</div>
<% include ./partials/footer %> 
