
<%- include('./partials/header', {active: "events"}); %>


<div class="container">
 <header class="jumbotron">
      <div class="container">
        <h1>לוח אירועים</h1>
        <p class="lead">קונצרטים בו מנוגנים יצירות של חיים וערבים לזכרו.  לחצו על האירוע לפרטים נוספים.</p>
        <p>
         
        </p>
      </div>
    </header>
    <div>
    <p>
הנהלת האתר אינה אחראית לתוכן המוזכר בתיאור האירועים. יש לוודא עם מארגני האירוע כי הוא אכן מתקיים.
</p>
<p class="mb-4"> שמעתם על אירוע שלא מוזכר כאן או מארגנים בעצמכם אירוע כזה? אנא צרו קשר איתנו בכתובת המייל<a href="mailto:haimmemory@gmail.com"> haimmemory@gmail.com </a>
 עם שם ופרטי קשר של המארגנים, מיקום, תאריך, שעה ותיאור של האירוע ונעדכן אותו בלוח האירועים.
</p>
</div>

    <div class="embed-responsive embed-responsive-4by3 mb-3" >
    <iframe src="https://calendar.google.com/calendar/b/3/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=Asia%2FJerusalem&amp;src=aGFpbW1lbW9yeUBnbWFpbC5jb20&amp;color=%23039BE5&amp;showTitle=0" style="border-width:0" class="embed-responsive-item" width="800" height="300" frameborder="0" scrolling="no"></iframe>

     
     </div>

</div>


<% include ./partials/footer %>
