<% include ../partials/header %> 

<div class="container">
     <header class="jumbotron mb-3">
      <div class="container">
        <h1>חברים מספרים על חיים</h1>
        <p class="lead">סיפורים וזכרונות מחיים</p>
        <p>
          <a class="btn btn-primary btn-large" href="/stories/new">לשיתוף טקסט</a>
        </p>
      </div>
    </header>
   

    <div class="row justify-content-right">
        <!-- <div class="card-deck"> -->
    <% stories.forEach(function(story){ %>
          <div class="col-auto mb-3">
       
 
      <div class="card mt-3">
         <small class="card-header">מאת: <%= story.author %></small>
           <div class="card-body">
          <% if(story.image !== null){ %>
           <img class ="img" src="<%= story.image %>" >
        <% } %>
        <p class="card-text"> <%= story.content.substring(0,40) %> <% if(story.content.length >= 40){ %>
        ...
       <%}%></p>
         
           <a href="/stories/<%= story._id %>" class="btn btn-primary">לקריאה</a>
      
     
          </div>
        </div>
     <!-- </div> -->
</div>
    
     
  <% }); %>

</div>

</div>

<% include ../partials/footer %>
