body{
    direction: rtl;
    font-family: 'Heebo', sans-serif;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}
.form-group{
	width: 60%;
}

#comment-box{
	height: 50px;
}

/*#margined{
	mat
}*/