
<%- include('../partials/header', {active: "about"}); %>
<div class="container">
        
     <div class="mt-4">
      <h1 class="display-3">חיים טוקצ׳ינסקי</h1>
      <p class="lead">י"ח חשוון התשמ"ח, 10 בנובמבר 1987 - ט"ו בתשרי תשע"ט, 24 בספטמבר 2018</p>
     
 <hr>

 <div class="mt-4">
		 
חיים נולד בחיפה ואת ילדותו העביר בקרית מוצקין. הוא למד במוסדות של חב"ד בתלמוד תורה, ולאחר מכן בישיבה קטנה בקריות. במקביל, למד בקונסרבטוריון קריית מוצקין. <p>
חיים החל לעבוד כנגן עצמאי מגיל 16. לאחר לימודים בישיבה קטנה עשה בחינות בגרות (אקסטרנית) והתקבל לאקדמיה למוזיקה ולמחול בירושלים.
 </p>
 <p>הוא בוגר האקדמיה עם התמחות בפסנתר, הלחנה וניצוח. מוריו היו המלחין ד"ר מיכאל וולפה בקומפוזיציה ופרופ' יצחק כ"ץ ופרופ' ואדים מונוסטירסקי בפסנתר.
	</p>
	<p>
הוא זכה במלגת קרן התרבות אמריקה-ישראל (AICF) לשנים 2007–2009 ובמלגת קרן וולף.
בקיץ 2008 השתתף בפסטיבל הפסנתר באוקספורד ובשנת 2010 זכה במקום שני בתחרות הפסנתר ה-11 על שם קרלו טוואסאניי. בשנה זו זכה גם במקום השני בתחרות למוזיקה קאמרית על שם רוז חורון.
</p>
<p>
חיים היה ידוע כסולן בפסנתר וניגן בסיבובי הופעות בנורבגיה ואנגליה, לצד קונצרטים קבועים ברחבי הארץ. הוא גם הופיע כנגן קאמרי לצד אמנים ידועים.
</p>
<p>
חיים הלחין יצירות רבות לזמרים, לכלי נגינה שונים ולצוותים מוזיקליים שונים. חלק מיצירותיו בוצעו בידי אנסמבלים ישראלים מרכזיים כמו הסימפונייטה הישראלית באר שבע.
</p>
<p>
<figure class="figure mt-4">
  <img src="https://res.cloudinary.com/drvycak8r/image/upload/v1547119009/storage/1.6533720.2531139392.jpg" class="figure-img img-fluid rounded" alt="צילום: אמיל סלמן">
  <figcaption class="figure-caption">חיים על יד הפסנתר</figcaption>
</figure>
</p>
בנוסף, הוא ליווה זמרים וחזנים, לימד נגינה בקונסרבטוריון, שימש כמנצח, ליווה כיתות אמן שונות והפיק וניהל מוסיקלית פרויקטים שונים, בעיקר מחזות זמר ל Association of Americans and Canadians in Israel (AACI) וארגון הלל באוניברסיטה העברית.
</p>
<p>
 בין מחזות הזמר שניהל והפיק מוסיקלית:
 <ul>
	 <li> First Date</li>
     <li>Next to Normal</li>
     <li>Ordinary Days</li>
     <li>Singin' in the Rain</li>
	 <li>Merrily We Roll Along</li>
	 <li> Seussical</li>
<li>פיטר פן</li>
<li>המפיקים</li>
<li>צלילי המוזיקה</li>
<li>אתה איש טוב צ'ארלי בראון</li>
<li>סינדרלה</li>
<li>כנר על הגג</li>
</ul>
<p>
ב2018 הפיק את המחזמר זוכה הפרסים Soul Doctor,  שמבוסס על חייו של הרב קרליבך. ההפקה האחרונה שחיים התחיל בחייו ולא הספיק לסיים, הייתה של המחזמר האהוב עליו, ״קברט״. הוא יזם את ההפקה והיה אחראי להבאתה ארצה.
 </p>
 <p class="mb-4">
חיים נהרג בתאונת פגע וברח שהתרחשה בערב חג הסוכות 2018. הוא הובא למנוחות בבית הקברות בהר הזיתים. הלווייתו בלטה באנשים הרבים מכלל הקבוצות בחברה הישראלית שבאו לנכוח ולחלוק לו כבוד אחרון כאדם וכמוסיקאי.
</p>
</div>
<br>



<a class="btn btn-success" href="/about/comments/new">להוספת תגובה</a>
            
<hr class="mt-5">
<div>

<% about.comments.forEach(function(comment){ %>
     <div class="row">
        <div class="col-md-12">
            <strong><%= comment.author%></strong>
            
                <span class="float-right"> <em> <%= moment(comment.createdAt).locale("he").fromNow(); %> </em> </span>
            <p class=" mt-2">
            
                <%= comment.text%> 
            </p>
            <hr>
        </div>
      
    </div>
<% }) %>
</div>



	</div>
</div>

<% include ../partials/footer %> 
