<% include ../partials/header %>
<div class="container mt-4">
 
       <h1>הוספת תגובה</h1>
       
            <form action="/about/comments" method="POST">

                <div class="form-group">
                    <input class="form-control" type="text" name="comment[author]" placeholder="השם שלך">
                </div>

               
               <div class="form-group">
                    <textarea class="form-control" rows="12" type="text" name="comment[text]" placeholder="התגובה שלך"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">שליחה</button>
                </div>
            </form>
            <a href="/about">Go Back</a>
        </div>
    </div>
</div>
<% include ../partials/footer %>