<% include ../partials/header %>
<div class="container mt-4">
    
    <h1>שתפו אותנו בקטעי מוסיקה של חיים</h1>
     
            <form action="/sounds" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="author" placeholder="השם שלך">
                </div>
               
              

            <div class="form-group">
                    <input class="form-control" type="url" name="youlink" placeholder="קישור לסרטון">
                </div>

                <div class="form-group">
                    <input class="form-control"  type="text" name="content" placeholder="כיתוב לסרטון"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">שלח</button>
                </div>
            </form>
            <a href="/sounds">חזרה</a>
        </div>
    

<% include ../partials/footer %>